
div.smMap {
    z-index: 0;
    padding: 0px!important;
    margin: 0px!important;
    cursor: default;
	border:1px solid #3473b7;
}

div.smMapViewport {
    text-align: left;
}

div.smLayerDiv {
   -moz-user-select: none;
}

.smLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;  
}
.smLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;   
}
.smControlAttribution {
    font-size: smaller; 
    right: 3px; 
    bottom: 0.5em;
    position: absolute; 
    display: block;
}
.smControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
    font-size: smaller;
}
.smControlScaleLine {
   display: block;
   position: absolute;
   left: 10px;
   bottom: 15px;
   font-size: xx-small;
}
.smControlScaleLineBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
}
.smControlScaleLineTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;
}

.smControlPermalink {
    right: 3px;
    bottom: 1.5em;
    display: block;
    position: absolute;
    font-size: smaller;
} 

div.smControlMousePosition {
    bottom: 0em;
    right: 3px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: smaller;
}

.smControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 400px;/*因为最开始map的div有400px移除右侧屏幕了，所以此处向左调整图层控件位置 */
	background-color: #9ab26b;
}


.smControlOverviewMapElement {
	border-left:1px solid #ffffff;
	border-top:1px solid #ffffff;
	padding-top: 1px;
	padding-left: 1px;
}

.smControlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 1px;
}    

.smControlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 1px;
}

.smControlOverviewMapExtentRectangle {
    overflow: hidden;
    /*background-image:url(../../image/blank.gif);*/
    cursor: move;
    border: 1px solid red;
	background:#69F;
	filter:alpha(opacity=50);/* IE */ 
	-moz-opacity:0.5;/* Moz + FF */ 
	opacity: 0.5; /* 支持CSS3的浏览器（FF 1.5也支持）*/
}
.smControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url(../images/overview_replacement.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.smLayerGeoRSSDescription {
    float:left;
    width:100%;
    overflow:auto;
    font-size:1.0em;
}
.smLayerGeoRSSClose {
    float:right;
    color:gray;
    font-size:1.2em;
    margin-right:6px;
    font-family:sans-serif;
}
.smLayerGeoRSSTitle {
    float:left;font-size:1.2em;
}

.smPopupContent {
    padding:0px;
    overflow: auto;
}

.smHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
.smHandlerBoxSelectFeature {
    border: 2px solid blue;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}

.smPopupCloseBox {
  background: url("../images/close.gif") no-repeat;
  cursor: pointer;
}

.smFramedCloudPopupContent {
    padding: 0px;
    overflow: auto;
}

.smImageLoadError {
    background-color: pink;
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE */
	display: none;
}

/**
 * Cursor styles
 */

.smCursorWait {
    cursor: wait;
}
.smDragDown {
    cursor: move;
}
.smDrawBox {
    cursor: crosshair;
}
.smControlDragFeatureOver {
    cursor: move;
}
.smControlDragFeatureActive.smControlDragFeatureOver.smDragDown {
    cursor: -moz-grabbing;
}

/**
 * Layer switcher
 */
.smControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.smControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}

.smControlLayerSwitcher .layersDiv .baseLbl,
.smControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.smControlLayerSwitcher .layersDiv .baseLayersDiv,
.smControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 3px;
}

.smControlLayerSwitcher .maximizeDiv,
.smControlLayerSwitcher .minimizeDiv {
    top: 0px;
    right: 0px;
    text-align: left;
}
.smControlLayerSwitcher .maximizeDiv{
    border: 3px solid #a5c8ec;
}

div.smControlLayerSwitcher {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 171px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0px 3px 3px;
    font-size: smaller;
    font-size: 13px;
    color: #4083c2;
    background-color: transparent;
    border: 3px solid #a5c8ec;
}
div.smControlLayerSwitcher div.layersDiv {
    padding-top: 25px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #FFFFFF;
    width: 166px;
    height: 100%;
}
span.labelSpan {
    margin-left: 5px;
}
div.minimizeDiv .layerSwitcherContent{
    position: absolute;
    padding: 2px 40px;
}


/**
 * Animations
 */

.smLayerDiv .smTileImage {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

#popwin img{
    max-width: none;
}
/**
*绘制矩形框
*/
.qByBoundsBoxDiv {
    background-color: #304DBE;
    border: 2px solid #060abe;
    opacity: 0.3;
}