.Popup{
width:700px;
height:312px;
}
.P-btngroup{
float:left;
width:54px;
height:310px;
border: 1px solid #B9B9B9;
padding:0px;
}
#btn1{
width:54px;
height:47px;
background:url(../images/image/photo.png);
border:none;
cursor:pointer;
}
#btn2{
width:54px;
height:47px;
background:url(../images/image/position.png);
border:none;
cursor:pointer;
}
.P-search{
float:left;
width:340px;
height:310px;
border: 1px solid #B9B9B9;
}
.search-input{
float:left;
width:220px;
height:45px;
padding-top:20px;
padding-left:20px;
}
.search_text{
width:200px;
height:25px;
}
.search-submit{
float:left;
width:80px;
height:30px;
padding-top:20px;
padding-left:10px;
}
.search_button{
width:70px;
height:30px;
}
.P-information{
float:left;
width:300px;
height:290px;
border: 1px solid #B9B9B9;
padding-top:20px;
}
.title{
width:240px; 
height:30px;
background-color:#247AB5;
color:#FFFFFF;
font-weight:500;
font-size:23px;
font-family:Î¢ÈíÑÅºÚ;
padding-left:50px;
padding-right:10px;
}
.title_left{
height:30px;
}
.title_right{
height:30px;
}
/*#close_button{
padding-right:20px;
padding-top:10px;
float:right;
background:url(../images/image/close.png);
border:none;
cursor:pointer;
}*/
.content{
width:300px;
height:200px;
}
.c_text{
width:200px;
height:25px
}
#text-box1{
padding-left:50px;
padding-top:20px;
}
#text-box2{
padding-left:50px;
padding-top:20px;
}
#text2{
color:#A9A9A9;
}
#text-box3{
padding-left:50px;
padding-top:20px;
}
#select_month{
width:220px;
padding-left:50px;
font-size:12px;
color:grey;
padding-top:13px;
}
#txtNumber{
width:20px;
}
#up{
height:15px;
background-color:#FFFFFF;
border-style:none;
}
#down{
height:15px;
background-color:#FFFFFF;
border-style:none;
}
.submit{
width:50px;
height:50px;
padding-top:5px;
padding-left:125px;
}
#submit_button{
width:50px;
height:50px;
background:url(../images/image/submit.png);
border:none;
cursor:pointer;
}